
@{
    ViewBag.Title = "忘記密碼";
}

<h2>忘記密碼</h2>
<p>請輸入您註冊的信箱，我們將寄送重設密碼連結</p>

@if (TempData["Note"] != null)
{
    <div class="alert-danger">@TempData["Note"]</div>
}

@using (Html.BeginForm("SendResetLink", "Home", FormMethod.Post))
{
    @Html.TextBox("email", null, new { placeholder = "Email", @class = "form-control" })
    <br />
    <input type="submit" value="寄送重設密碼連結" class="btn btn-primary" />
}

